@tailwind base;

@layer base {
  a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5px;

    @apply text-neutral-300;
    @apply rounded-sm;
    @apply hover:text-neutral-900;
    @apply focus-visible:text-neutral-900;
    @apply dark:text-neutral-50;
    @apply dark:hover:text-neutral-10;
    @apply dark:focus-visible:text-neutral-10;
  }

  a:hover,
  a:focus-visible {
    text-decoration-thickness: 2px;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply mb-4;
    @apply text-neutral-600;
    @apply dark:text-neutral-40;
  }

  h1 {
    @apply text-5xl;
    @apply font-bold;
    @apply sm-base:text-6xl;
  }

  h2 {
    @apply text-3xl;
    @apply font-semibold;
    @apply sm-base:text-4xl;
  }

  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply sm-base:text-2xl;
  }

  h4 {
    @apply text-base;
    @apply font-semibold;
    @apply sm-base:text-lg;
  }

  p {
    @apply mb-4;
    @apply last:mb-0;
  }

  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 1em;
  }
}
