@tailwind components;

@layer components {
  .page {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 100%;
  }

  @variants dark {
    /**
     * Made with Easing Gradients
     * https://larsenwork.com/easing-gradients/
     *
     * angle: 120deg
     * from: hsla(230, 92%, 61%, 1) // #405ef7
     * to: hsla(263, 80%, 55%, 1) // #772fe8
     * curve: ease-in-out
     */
    .gradient-light {
      background-image:
        linear-gradient(
          120deg,
          hsl(229.84, 91.96%, 60.98%) 0%,
          hsl(230.25, 91.74%, 61.14%) 4.05%,
          hsl(231.41, 91.11%, 61.57%) 7.75%,
          hsl(233.26, 90.13%, 62.2%) 11.25%,
          hsl(235.7, 88.82%, 62.94%) 14.5%,
          hsl(238.72, 87.24%, 63.74%) 17.65%,
          hsl(242.17, 85.88%, 63.42%) 20.6%,
          hsl(245.68, 84.77%, 62.32%) 23.55%,
          hsl(249.09, 83.72%, 61.15%) 26.45%,
          hsl(252.32, 82.76%, 59.95%) 29.4%,
          hsl(255.27, 81.92%, 58.74%) 32.35%,
          hsl(257.87, 81.23%, 57.59%) 35.5%,
          hsl(260.04, 80.69%, 56.55%) 38.75%,
          hsl(261.7, 80.31%, 55.69%) 42.25%,
          hsl(262.77, 80.08%, 55.11%) 45.95%,
          hsl(263.15, 80%, 54.9%) 50%,
          hsl(262.77, 80.08%, 55.11%) 54.05%,
          hsl(261.7, 80.31%, 55.69%) 57.75%,
          hsl(260.04, 80.69%, 56.55%) 61.25%,
          hsl(257.87, 81.23%, 57.59%) 64.5%,
          hsl(255.27, 81.92%, 58.74%) 67.65%,
          hsl(252.32, 82.76%, 59.95%) 70.6%,
          hsl(249.09, 83.72%, 61.15%) 73.55%,
          hsl(245.68, 84.77%, 62.32%) 76.45%,
          hsl(242.17, 85.88%, 63.42%) 79.4%,
          hsl(238.72, 87.24%, 63.74%) 82.35%,
          hsl(235.7, 88.82%, 62.94%) 85.5%,
          hsl(233.26, 90.13%, 62.2%) 88.75%,
          hsl(231.41, 91.11%, 61.57%) 92.25%,
          hsl(230.25, 91.74%, 61.14%) 95.95%,
          hsl(229.84, 91.96%, 60.98%) 100%
        );
      background-size: 200% 100%;
      animation: move-bg 12s linear infinite;
    }

    /**
     * Made with Easing Gradients
     * https://larsenwork.com/easing-gradients/
     *
     * angle: 120deg
     * from: hsla(10, 96%, 60%, 1) // #fb5837
     * to: hsla(337, 90%, 57%, 1) // #f4317d
     * curve: ease-in-out
     */
    .gradient-dark {
      background-image:
        linear-gradient(
          120deg,
          hsl(10.1, 96.08%, 60%) 0%,
          hsl(9.63, 95.97%, 60.25%) 4.05%,
          hsl(8.32, 95.65%, 60.92%) 7.75%,
          hsl(6.29, 95.15%, 61.87%) 11.25%,
          hsl(3.65, 94.48%, 62.99%) 14.5%,
          hsl(0.47, 93.66%, 64.18%) 17.65%,
          hsl(356.97, 93.05%, 63.66%) 20.6%,
          hsl(353.51, 92.49%, 62.81%) 23.55%,
          hsl(350.21, 91.94%, 61.91%) 26.45%,
          hsl(347.14, 91.45%, 60.97%) 29.4%,
          hsl(344.37, 91%, 60.04%) 32.35%,
          hsl(341.97, 90.63%, 59.14%) 35.5%,
          hsl(339.98, 90.34%, 58.33%) 38.75%,
          hsl(338.46, 90.13%, 57.67%) 42.25%,
          hsl(337.5, 90%, 57.22%) 45.95%,
          hsl(337.16, 89.95%, 57.06%) 50%,
          hsl(337.5, 90%, 57.22%) 54.05%,
          hsl(338.46, 90.13%, 57.67%) 57.75%,
          hsl(339.98, 90.34%, 58.33%) 61.25%,
          hsl(341.97, 90.63%, 59.14%) 64.5%,
          hsl(344.37, 91%, 60.04%) 67.65%,
          hsl(347.14, 91.45%, 60.97%) 70.6%,
          hsl(350.21, 91.94%, 61.91%) 73.55%,
          hsl(353.51, 92.49%, 62.81%) 76.45%,
          hsl(356.97, 93.05%, 63.66%) 79.4%,
          hsl(0.47, 93.66%, 64.18%) 82.35%,
          hsl(3.65, 94.48%, 62.99%) 85.5%,
          hsl(6.29, 95.15%, 61.87%) 88.75%,
          hsl(8.32, 95.65%, 60.92%) 92.25%,
          hsl(9.63, 95.97%, 60.25%) 95.95%,
          hsl(10.1, 96.08%, 60%) 100%
        );
      background-size: 200% 100%;
      animation: move-bg 12s linear infinite;
    }
  }

  @keyframes move-bg {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }
}
